{% extends '::baseTabela.html.twig' %}




{% block body -%}
     
    <a class="btn btn-large btn-glyph" href="{{ path('tipocontrato_new') }}" style="margin-left: 783px; margin-top: 3px; height: 8px; font-size: 12px; color: #66cc00;"><i class="fontello-icon-plus-circle-3"></i>Adicionar</a> 
        
   
    <table id="exampleDTB-1" class="table boo-table table-striped table-content table-hover">
        <thead>
            <tr>
                <th scope="col"># <span class="column-sorter"></span></th>
                <th scope="col" >Nome <span class="column-sorter"></span></th>
                <th scope="col" style='text-align: center;'>Estado <span class="column-sorter"></span></th>
                <th scope="col" style='text-align: center;'>Descrição <span class="column-sorter"></span></th>
                <th scope="col" style='text-align: center;'>Operações <span class="column-sorter"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ loop.index}}</td>
                    <td><a href="{{ path('tipocontrato_show', { 'id': entity.id }) }}">{{ entity.nome }}</a></td>
                    <td>Activo</td>
                    <td>{{ entity.descricao }}</td>

                    <td style='text-align: center;'>

                        <div class="btn-group center"> 
                            <a class="btn btn-large btn-glyph" href="{{ path('tipocontrato_show', { 'id': entity.id }) }}"><i class="fontello-icon-search-5"></i></a> 
                            <a class="btn btn-large btn-glyph" href="{{ path('tipocontrato_edit', { 'id': entity.id }) }}"><i class="fontello-icon-pencil-1"></i></a>
                            <a class="btn btn-large btn-glyph" href="{{ path('tipocontrato_edit', { 'id': entity.id }) }}"><i class="fontello-icon-trash-2"></i></a> 
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>




{% endblock %}
