<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
    <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <title>SGRH</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{{ asset('assets/css/lib/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/lib/bootstrap-responsive.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/boo-extension.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/boo.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/boo-coloring.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/boo-utility.css') }}" rel="stylesheet">



        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{ asset('assets/ico/favicon.ico') }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('assets/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('assets/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('assets/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('assets/ico/apple-touch-icon-57-precomposed.png') }}">
    </head>

    <body class="sidebar-left ">
        <div class="page-container">
            <div id="header-container">
                <div id="header">
                    <div class="navbar navbar-inverse navbar-fixed-top">
                        <div class="navbar-inner">
                            <div class="container-fluid">
                                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                                <a class="brand" href="javascript:void(0);"><img src="{{ asset('assets/img/demo/logo-brand.png') }}"></a>
                                <div class="search-global">
                                    <input id="globalSearch" class="search search-query input-medium" type="search">
                                    <a class="search-button" href="javascript:void(0);"><i class="fontello-icon-search-5"></i></a> </div>
                                <div class="nav-collapse collapse">
                                    <ul class="nav user-menu visible-desktop">
                                        <li><a class="btn-glyph fontello-icon-edit tip-bc" href="javascript:void(0);" title="Messages"><span class="badge badge-important">8</span></a></li>
                                        <li><a class="btn-glyph fontello-icon-mail-1 tip-bc" href="javascript:void(0);" title="Emails"></a></li>
                                        <li><a class="btn-glyph fontello-icon-logout-1" href="{{ path('logout') }}" title="Sair"></a></li>
                                    </ul>
                                    <ul class="nav">
                                        <li class="active"> <a href="#">Página Inicial</a> </li>
                                        <li> <a href="#">Componentes</a> </li>
                                        <li> <a href="#"><span class="fontello-icon-calendar"></span>Calendario</a> </li>
                                        <li> <a href="#"><span class="fontello-icon-users"></span>Contactos</a> </li>
                                        <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><span class="fontello-icon-list-1"></span>Customizar <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Formulário de demonstração</a></li>
                                                <li><a href="#">Lembrar</a></li>
                                                <li><a href="#">Lista de Utilizador</a></li>
                                                <li class="divider"></li>
                                                <li class="nav-header">Próxima Actualização</li>
                                                <li><a href="#">Contactos</a></li>
                                                <li><a href="#">E-mail</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // navbar -->

                    <div class="header-drawer">
                        <div class="mobile-nav text-center visible-phone"> <a href="javascript:void(0);" class="mobile-btn" data-toggle="collapse" data-target=".sidebar"><i class="aweso-icon-chevron-down"></i> Components</a> </div>
                        <!-- // Resposive navigation -->
                        <div class="breadcrumbs-nav hidden-phone">
                            <ul id="breadcrumbs" class="breadcrumb">
                                <li><a href="javascript:void(0);"><i class="fontello-icon-home f12"></i> Página Inicial</a> <span class="divider">/</span></li>
                                <li class="dropdown"><a href="javascript:void(0);">Tabelas </a> <span class="divider">/</span>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0);">Tabela</a></li>
                                        <li><a href="javascript:void(0);">Elemento1</a></li>
                                        <li><a href="javascript:void(0);">Elemento2</a></li>
                                        <li><a href="javascript:void(0);">Elemento3</a></li>
                                    </ul>
                                </li>
                                <li class="active">administrador </li>
                            </ul>
                        </div>
                        <!-- // breadcrumbs --> 
                    </div>
                    <!-- // drawer --> 
                </div>
            </div>
            <!-- // header-container -->

            <div id="main-container">
                <div id="main-sidebar" class="sidebar sidebar-inverse">
                    <div class="sidebar-item">
                        <div class="media profile">
                            <div class="media-thumb media-left thumb-bordereb"> <a class="img-shadow" href="javascript:void(0);"><img class="thumb" src="{{ asset('assets/img/demo/demo-avatar9604.jpg') }}"></a> </div>
                            <div class="media-body">
                                <h5 class="media-heading">{{ app.user.username|upper }} <small> Administrador</small></h5>
                                <p class="data">Ultimo acesso: 16 de Maio 2016 15:30</p>
                            </div>
                        </div>
                    </div>
                    <!-- // sidebar item - profile -->

                    <ul id="mainSideMenu" class="nav nav-list nav-side">
                        <li class="accordion-group">
                            <div class="accordion-heading active"> <a href="#accDash" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"> <span class="item-icon fontello-icon-monitor"></span> <i class="chevron fontello-icon-right-open-3"></i> Home </a> </div>
                            <ul class="accordion-content nav nav-list collapse in" id="accDash">

                                <li class="active"> <a href="dashboard-two.html"> <i class="fontello-icon-right-dir"></i> <span class="hidden-tablet"></span> Página Inicial </a> </li>
                            </ul>
                        </li>
                        <!-- // item accordionMenu Dashboard -->
                        <li class="accordion-group">
                            <div class="accordion-heading"> <a href="#accForms" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"> <span class="item-icon  fontello-icon-school"></span><i class="chevron fontello-icon-right-open-3"></i> Gestão de Trabalhadores </a> </div>
                            <ul class="accordion-content nav nav-list collapse" id="accForms">
                                <li> <a href="{{ path('trabalhador') }}"> <i class="fontello-icon-right-dir"></i> Lista de Trabalhadores </a> </li>
                                <li> <a href="{{ path('trabalhador_new') }}"> <i class="fontello-icon-right-dir"></i> Registar trabalhador</a> </li>
                                <li> <a href="{{ path('contrato_new') }}"> <i class="fontello-icon-right-dir"></i> Definir contrato</a> </li>
                                <li> <a href="{{ path('trabalhador_terminar') }}"> <i class="fontello-icon-right-dir"></i> Definir contrato</a> </li>
                               
                            </ul>
                        </li>
                        <!-- // item accordionMenu Forms -->
                        <li class="accordion-group">
                            <div class="accordion-heading"> <a href="#accComponents" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"> <span class="item-icon fontello-icon-dollar"></span> <i class="chevron fontello-icon-right-open-3"></i> Gestão Financeira </a> </div>
                            <ul class="accordion-content nav nav-list collapse" id="accComponents">
                                <li> <a href="#"> <i class="fontello-icon-right-dir"></i> Processamento de Salario </a> </li>
                                <li> <a href="#"> <i class="fontello-icon-right-dir"></i> Remuneracoes </a> </li>
                                <li> <a href="#"> <i class="fontello-icon-right-dir"></i> Recompensas </a> </li>
                                <li> <a href="#"> <i class="fontello-icon-right-dir"></i> Subsidios </a> </li>
                            </ul>
                        </li>
                        <!-- // item accordionMenu Components -->

                        <!-- // item accordionMenu Tables -->
                        <li class="accordion-group">
                            <div class="accordion-heading"> <a href="#accStatistics" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"> <span class="item-icon fontello-icon-chart"></span> <i class="chevron fontello-icon-right-open-3"></i> Gestão de Pontos </a> </div>
                            <ul class="accordion-content nav nav-list collapse" id="accStatistics">
                                <li> <a href="#"> <i class="fontello-icon-right-dir"></i>Pontos diarios </a> </li>
                                <li> <a href="#"> <i class="fontello-icon-right-dir"></i> Saidas autorizadas </a> </li>

                            </ul>
                        </li>
                        <li class="accordion-group">
                            <div class="accordion-heading"> <a href="#accTables" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"> <span class="item-icon  fontello-icon-globe-2"></span> <i class="chevron fontello-icon-right-open-3"></i> Recrutamento e Seleccao </a> </div>
                            <ul class="accordion-content nav nav-list collapse" id="accTables">
                                <li> <a href="component-table.html"> <i class="fontello-icon-right-dir"></i> Candidaturas </a> </li>
                                <li> <a href="component-table-datatable.html"> <i class="fontello-icon-right-dir"></i>Listar Candidatos </a> </li>
                                <li> <a href="component-table-datatable.html"> <i class="fontello-icon-right-dir"></i> Excluir Candidato </a> </li>
                                <li> <a href="component-table-datatable.html"> <i class="fontello-icon-right-dir"></i> Slecionar Candidato </a> </li>
                                <li> <a href="component-table-datatable.html"> <i class="fontello-icon-right-dir"></i> Concursos </a> </li>
                                <li> <a href="component-table-boo.html"> <i class="fontello-icon-right-dir"></i> Cancelar Concurso </a> </li>
                                <li> <a href="component-table-datatable.html"> <i class="fontello-icon-right-dir"></i> Anunciar concuros </a> </li>
                                <li> <a href="component-table-datatable.html"> <i class="fontello-icon-right-dir"></i> Ctualizar Concurso </a> </li>

                            </ul>
                        </li>
                        <!-- // item accordionMenu Statistics -->
                        <li class="accordion-group">
                            <div class="accordion-heading"> <a href="#accWidgets" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"> <span class="item-icon  fontello-icon-layers"></span> <i class="chevron fontello-icon-right-open-3"></i> Relatórios e Listas </a> </div>
                            <ul class="accordion-content nav nav-list collapse" id="accWidgets">
                                <li> <a href="component-widget-style.html"> <i class="fontello-icon-right-dir"></i> <span class="hidden-tablet">Emitir </span>Relatório </a> </li>
                                <li> <a href="component-widget-custom.html"> <i class="fontello-icon-right-dir"></i> <span class="hidden-tablet">Listar </span> Candidatos </a> </li>
                                <li> <a href="component-widget-custom.html"> <i class="fontello-icon-right-dir"></i> <span class="hidden-tablet">Listar Candidatos </span> Excluídos </a> </li>
                                <li> <a href="component-widget-custom.html"> <i class="fontello-icon-right-dir"></i> <span class="hidden-tablet">Emitir </span> Relatório </a> </li>
                            </ul>
                        </li>
                        <!-- // item accordionMenu Widgets -->
                        <li class="accordion-group">
                            <div class="accordion-heading"> <a href="#accButtons" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"> <span class="item-icon  fontello-icon-user-1"></span> <i class="chevron fontello-icon-right-open-3"></i> Gestão de Contas </a> </div>
                            <ul class="accordion-content nav nav-list collapse" id="accButtons">
                                <li> <a href="{{ path('utilizador_new') }}"> <i class="fontello-icon-right-dir"></i> Criar Conta </a> </li>
                                <li> <a href="{{ path('utilizador') }}"> <i class="fontello-icon-right-dir"></i> Atualizar Conta </a> </li>
                                <li> <a href="{{ path('departamento_new') }}"> <i class="fontello-icon-right-dir"></i> Criar Departamento </a> </li>
                                <li> <a href="{{ path('departamento') }}"> <i class="fontello-icon-right-dir"></i> Actualizar departamento </a> </li>
                                <li> <a href="{{ path('funcaoutilizador_new') }}"> <i class="fontello-icon-right-dir"></i> Associar utilizador a função </a> </li>
                                

                            </ul>
                        </li>

                        <!-- //  Avaliação de desempenho -->
                        <!-- <li class="accordion-group">
                            <div class="accordion-heading"> <a href="#accButtons" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"> <span class="item-icon  fontello-icon-user-1"></span> <i class="chevron fontello-icon-right-open-3"></i> Avaliação de desempenho </a> </div>
                            <ul class="accordion-content nav nav-list collapse" id="accButtons">
                                <li> <a href="elements-button.html"> <i class="fontello-icon-right-dir"></i> Criar Conta </a> </li>
                                <li> <a href="elements-icon-font.html"> <i class="fontello-icon-right-dir"></i> Criar Departamento </a> </li>
                                <li> <a href="elements-icon-fugue-demo.html"> <i class="fontello-icon-right-dir"></i> Registar Gestor </a> </li>
                                <li> <a href="elements-wells.html"> <i class="fontello-icon-right-dir"></i> Ctualizar Conta </a> </li>
                                <li> <a href="elements-tabs.html"> <i class="fontello-icon-right-dir"></i> Actualizar departamento </a> </li>
                                <li> <a href="elements-modals.html"> <i class="fontello-icon-right-dir"></i> Actualizar Gestor </a> </li>
                                <li> <a href="elements-progressbar.html"> <i class="fontello-icon-right-dir"></i> Outros </a> </li>
                            </ul>
                        </li> -->

                        <!-- // item accordionMenu UI Elements -->
                        <li class="accordion-group">
                            <div class="accordion-heading"> <a href="#accCalendar" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"> <span class="item-icon fontello-icon-tools"></span> <i class="chevron fontello-icon-right-open-3"></i> Configuracoes </a> </div>
                            <ul class="accordion-content nav nav-list collapse" id="accCalendar">
                                <li> <a href="{{ path('profissao') }}"> <i class="fontello-icon-right-dir"></i> <span class="hidden-tablet">Profissao </span></a> </li>
                                <li> <a href="component-fullcalendar.html"> <i class="fontello-icon-right-dir"></i> <span class="hidden-tablet">Calendar </span> Style </a> </li>
                            </ul>
                        </li>
                        <!-- // item accordionMenu Calendar -->
                    </ul>
                    <!-- // sidebar menu -->

                    <div class="sidebar-item"></div>
                    <!-- // sidebar item --> 

                </div>
                <!-- // sidebar -->

                <div id="main-content" class="main-content container-fluid">
                    <div class="row-fluid page-head">
                        <h2 class="page-title"><i class="fontello-icon-monitor"></i> SGRH <small>Sistema de Gestão - Sifena </small></h2>
                        <p class="pagedesc"></p>
                        <div class="page-bar">
                            <div class="btn-toolbar"> </div>
                        </div>
                    </div>
                    <!-- // page head -->

                    <div id="page-content" class="page-content">
                        <section>
                            <div class="row-fluid margin-top20">
                                <div class="span8 grider">
                                    <div class="widget widget-simple">
                                        <div class="widget-header">
                                            {% block titulopagina %}
                                                <h4 class="pull-left"><i class="fontello-icon-chart"></i> 



                                                </h4>
                                            {% endblock %}

                                        </div>
                                        <!-- ? Content-inner - content without adding padding border - Adds padding content without border - for any content -->
                                        <div class="widget-content">

                                            {% block body %}

                                            {% endblock %}
                                        </div>
                                    </div>

                                </div>



                            </div>


                        </section>
                    </div>


                </div>
                <!-- // main-content --> 

            </div>


            <footer id="footer-fix">
                <div id="footer-sidebar" class="footer-sidebar">
                    <div class="navbar">
                        <div class="btn-toolbar"> <a class="btn btn-glyph btn-link" href="javascript:void(0);"><i class="fontello-icon-up-open-1"></i></a> </div>
                    </div>
                </div>
                <!-- // footer sidebar -->

                <div id="footer-content" class="footer-content">
                    <div class="navbar navbar-inverse">
                        <div class="navbar-inner">
                            <ul class="nav pull-left">
                                <li class="divider-vertical hidden-phone"></li>
                                <li><a id="btnToggleSidebar" class="btn-glyph fontello-icon-resize-full-2 tip hidden-phone" href="javascript:void(0);" title="show hide sidebar"></a></li>
                                <li class="divider-vertical hidden-phone"></li>
                                <li><a id="btnChangeSidebar" class="btn-glyph fontello-icon-login tip hidden-phone" href="javascript:void(0);" title="change sidebar position"></a></li>
                                <li class="divider-vertical"></li>
                                <li><a id="btnChangeSidebarColor" class="btn-glyph fontello-icon-palette tip" href="javascript:void(0);" title="change sidebar color"></a></li>
                                <li class="divider-vertical"></li>
                                <li><a class="btn-glyph fontello-icon-cw" href="javascript:void(0);"></a></li>
                                <li class="divider-vertical"></li>
                                <li><a class="fontello-icon-home-3" href="dashboard-one.html"></a></li>
                                <li class="divider-vertical"></li>
                            </ul>
                            <ul class="nav pull-right">
                                <li class="divider-vertical"></li>
                                <li><a class="btn-glyph fontello-icon-help-2 tip" href="javascript:void(0);" title="help to page"></a></li>
                                <li class="divider-vertical"></li>
                                <li><a class="btn-glyph fontello-icon-cog-4 tip" href="javascript:void(0);" title="settings app"></a></li>
                                <li class="divider-vertical"></li>
                                <li><a id="btnLogout" class="btn-glyph fontello-icon-logout-1 tip" href="{{path('logout')}}" title="logout"></a></li>
                                <li class="divider-vertical"></li>
                                <li><a id="btnScrollup" class="scrollup btn-glyph fontello-icon-up-open-1" href="javascript:void(0);"><span class="hidden-phone">Scroll</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- // footer content --> 

            </footer>
            <!-- // footer-fix  --> 

        </div>
        <!-- // page-container  --> 

        <!-- Le javascript --> 
        <!-- Placed at the end of the document so the pages load faster --> 
        <script src="{{ asset('assets/js/lib/jquery.js') }}"></script> 
        <script src="{{ asset('assets/js/lib/jquery-ui.js') }}"></script>
        <script src="{{ asset('assets/js/lib/jquery.cookie.js') }}"></script> 

        <script src="{{ asset('assets/js/lib/jquery.mousewheel.js') }}"></script> 
        <script src="{{ asset('assets/js/lib/jquery.load-image.min.js') }}"></script>
        <script src="{{ asset('assets/js/lib/bootstrap/bootstrap.js') }}"></script> 

        <!-- Plugins Bootstrap -->
        <script src="{{ asset('assets/plugins/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.min.js') }}"></script> 
        <script src="{{ asset('assets/plugins/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js') }}"></script>
        <script src="{{ asset('assets/plugins/bootstrap-fuelux/all-fuelux.min.js') }}"></script> 
        <script src="{{ asset('assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script> 
        <script src="{{ asset('assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js') }}"></script> 
        <script src="{{ asset('assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js') }}"></script>
        <script src="{{ asset('assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>
        <script src="{{ asset('assets/plugins/bootstrap-daterangepicker/js/bootstrap-daterangepicker.js') }}"></script> 
        <script src="{{ asset('assets/plugins/bootstrap-toggle-button/js/bootstrap-toggle-button.js') }}"></script> 
        <script src="{{ asset('assets/plugins/bootstrap-fileupload/js/bootstrap-fileupload.js') }}"></script> 
        <script src="{{ asset('assets/plugins/bootstrap-rowlink/js/bootstrap-rowlink.js') }}"></script> 
        <script src="{{ asset('assets/plugins/bootstrap-progressbar/js/bootstrap-progressbar.js') }}"></script> 
        <script src="{{ asset('assets/plugins/bootstrap-select/bootstrap-select.js') }}"></script> 
        <script src="{{ asset('assets/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js') }}"></script> 
        <script src="{{ asset('assets/plugins/bootstrap-bootbox/bootbox.min.js') }}"></script> 
        <script src="{{ asset('assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js') }}"></script> 
        <script src="{{ asset('assets/plugins/bootstrap-modal/js/bootstrap-modal.js') }}"></script> 
        <script src="{{ asset('assets/plugins/bootstrap-wizard/js/bootstrap-wizard.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/bootstrap-wizard-2/js/bwizard-only.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/bootstrap-image-gallery/js/bootstrap-image-gallery.min.js') }}"></script>


        <!-- Plugins Custom - Only example --> 
        <script src="{{ asset('assets/plugins/pl-extension/google-code-prettify/prettify.js') }}"></script>

        <!-- Plugins Custom - System --> 
        <script src="{{ asset('assets/plugins/pl-system/nicescroll/jquery.nicescroll.min.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-system/xbreadcrumbs/xbreadcrumbs.js') }}"></script> 

        <!-- Plugins Custom - System info -->
        <script src="{{ asset('assets/plugins/pl-system-info/qtip2/dist/jquery.qtip.min.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-system-info/gritter/js/jquery.gritter.min.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-system-info/notyfy/jquery.notyfy.js') }}"></script>

        <!-- Plugins Custom - Content -->
        <script src="{{ asset('assets/plugins/pl-content/list/js/list.min.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-content/list/plugins/list.paging.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/pl-content/jpages/js/jPages.js') }}"></script> 

        <!-- Plugins Custom - Component -->
        <script src="{{ asset('assets/plugins/pl-component/fullcalendar/fullcalendar.min.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-component/rangeslider/jqallrangesliders.min.js') }}"></script>

        <!-- Plugins Custom - Form -->
        <script src="{{ asset('assets/plugins/pl-form/uniform/jquery.uniform.min.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-form/select2/select2.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/pl-form/counter/jquery.counter.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-form/elastic/jquery.elastic.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-form/inputmask/jquery.inputmask.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-form/inputmask/jquery.inputmask.extensions.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-form/validate/js/jquery.validate.min.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-form/duallistbox/jquery.duallistbox.min.js') }}"></script>

        <!-- Plugins Custom - Gallery --> 
        <script src="{{ asset('assets/plugins/pl-gallery/nailthumb/jquery.nailthumb.1.1.min.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-gallery/nailthumb/showLoading/js/jquery.showLoading.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/pl-gallery/wookmark/jquery.imagesloaded.js') }}"></script>
        <script src="{{ asset('assets/plugins/pl-gallery/wookmark/jquery.wookmark.min.js') }}"></script>

        <!-- Plugins Tables --> 
        <script src="{{ asset('assets/plugins/pl-table/datatables/media/js/jquery.dataTables.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-table/datatables/plugin/jquery.dataTables.plugins.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-table/datatables/plugin/jquery.dataTables.columnFilter.js') }}"></script> 

        <!-- Plugins data visualization --> 
        <script src="{{ asset('assets/plugins/pl-visualization/sparkline/jquery.sparkline.min.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-visualization/easy-pie-chart/jquery.easy-pie-chart.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-visualization/percentageloader/percentageloader.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/pl-visualization/knob/knob.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-visualization/flot/jquery.flot.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-visualization/flot/jquery.flot.categories.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-visualization/flot/jquery.flot.grow.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-visualization/flot/jquery.flot.orderBars.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-visualization/flot/jquery.flot.pie.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-visualization/flot/jquery.flot.resize.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-visualization/flot/jquery.flot.selection.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-visualization/flot/jquery.flot.stack.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-visualization/flot/jquery.flot.stackpercent.js') }}"></script> 
        <script src="{{ asset('assets/plugins/pl-visualization/flot/jquery.flot.time.js') }}"></script> 

        <!-- main js --> 
        <script src="{{ asset('assets/js/core.js') }}"></script> 
        <script src="{{ asset('assets/js/application.js') }}"></script> 
        <script src="{{ asset('assets/js/demo/demo-jquery.dataTables.js') }}"></script>


        <!-- Only This Demo Page --> 


        {% block javascript %}

        {% endblock %}
    </body>
</html>
