{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Pessoa</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ entity.genero }}</td>
            </tr>
            <tr>
                <th>Ddn</th>
                <td>{{ entity.ddn|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Estadocivil</th>
                <td>{{ entity.estadoCivil }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('pessoa') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('pessoa_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
