{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Documento</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Tipodocumento</th>
                <td>{{ entity.tipoDocumento }}</td>
            </tr>
            <tr>
                <th>Ndi</th>
                <td>{{ entity.ndi }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('documento') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('documento_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
