{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Contrato list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Datainicio</th>
                <th>Datafim</th>
                <th>Estado</th>
                <th>Observacao</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('contrato_show', { 'id': entity.id }) }}">{{ entity.dataInicio }}</a></td>
                <td>{% if entity.dataFim %}{{ entity.dataFim|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.observacao }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('contrato_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('contrato_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('contrato_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
